<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lab5redditlike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">




</head>
  <body>

    <header class="container">
      <div class="row">
        <div class="col-xs-12 jumbotron">
          <div class="row">
            <h5 class="col-xs-6 text-left">
              <span class="blog">Reddit Clone</span>
            </h5>
            <h5 class="col-xs-6 text-right">
              <span class="about">About</span>
              <span class="search">Search</span>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </h5>
          </div>
          <h1 class="text-center">Reddit Clone!</h1>
          <h5 class="text-center">An Ironyard Academy Project Est Summer 2015</h5>
        </div>
      </div>
    </header>

    <main class="container">
      <div class="row">

        <%= yield %>

      </div>
    </main>

  </body>
</html>
